--- <% string %> ---
<h2>Active Matches</h2>
<% INCLUDE _matches.tt matches = matches %>
<h2>Waiting Matches</h2>
<% INCLUDE _matches.tt matches = waiting %>
<h2>Available Matches</h2>
<% INCLUDE _matches.tt matches = availables %>
